.paymentsContainer {
  display: flex;
  flex-flow: column;
  background-color: transparent;
  height: 100%;
}

.paymentFormContainer{
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}