.navbarContainer {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0px 20px;
  height: fit-content;
  background-color: #ffffff;
  padding: 0px 20px;
  border-radius: 0 0 15px 15px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.navbarLinks {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbarLeft {
  display: flex;
  align-items: center;
}

.navbarCenter {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbarLogo {
  width: 50px;
  height: 35px;
  margin: 10px 0px;
}

.navbarLogoName {
  margin: 0px 10px;
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarLink {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  margin: 30px 20px;
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 500;
}

button.navbarLink {
  background-color: transparent;
  border: none;
}

.navbarLink:hover::after {
  width: 100%;
}

.navbarLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s ease;
}

.tokensCounter {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  margin-right: 5px;
}

.tokensLogo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.tokensText {
  position: relative;
  font-size: 0.9em;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
  min-width: 10ch;
}

.tokensText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 200ms ease;
}

.tokensCounter:hover .tokensText::after {
  transform: scaleX(1);
}