
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.formContainer {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  width: 100%;
  max-width: 500px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 30px 30px;
}

.label {
  color: black;
  width: 100%;
  text-align: left;
  font-size: 0.9em;
}

.input {
  border: 1.5px solid #7e7e7e;
  font-size: 1em;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
  height: 35px;
  padding: 10px;
}

.button {
  background-color: #ff8800;
  width: 100%;
  height: fit-content;
  color: white;
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #808080;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: 100ms;
}

.button:hover {
  background-color: #b86200;
}

.secondaryContainer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 8px;
  text-align: center;
}

.secondaryButton {
  margin-top: 10px;
  padding: 10px;
  background-color: #5118c4;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
