.marketplaceContainer {
  display: flex;
  flex-flow: column;
}

.dashboardRow {
  display: flex;
  flex-flow: row;
  padding: 10px;
}

.dashboardRowItems {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 10px 20px 50px 10px;
    background-color: #ffffff;
  border: 1px solid #000000;
}

.modelsList {
  display: flex;
  flex-wrap: wrap;
}

.marketPlaceHeader {
  display: flex;
  width: 100%;
  margin: 5px 10px 10px 25px;
  height: fit-content;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}

.marketPlaceHeaderTitle {
  width: fit-content;
  color: #000000;
  user-select: none;
  font-size: 1.2em;
}

.noRecordsFound {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: fit-content;
  color: #000;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  align-items: center;
}

.noRecordsFound img {
  background-color: #ffffff;
  width: 200px;
}