* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Quicksand";
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: #dcdcdc;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  width: 100%;
  height: 50px;
  background: #eeeeee;
  background: linear-gradient(91deg, #ffffff 0%, #ffffff 60%, #ff7b00 79%, #5118c4 100%);
  box-shadow: 0px 1px 5px 5px #c8c8c8;
  align-items: center;
  padding-left: 5px;
}

.navbar img {
  height: 100%;
  padding: 5px;
}

#logo {
  font-weight: 500;
  padding-left: 5px;
  width: fit-content;
  height: 100%;
  font-size: 1.3em;
  font-family: 'Quicksand';
  display: flex;
  align-items: center;
}

#logo span {
  font-weight: 500;
  color: #f48a00;
}

h1 {
  width: 100%;
  height: fit-content;
  text-align: left;
}

button {
  background-color: #ff8800;
  width: 100%;
  height: fit-content;
  color: white;
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #808080;
}

button:hover {
  background-color: #b86200;
  transition: 100ms;
  cursor: pointer;
}

input {
  border: 1.5px solid #7e7e7e;
  font-size: 1em;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  width: 100%;
  height: 35px;
  padding: 10px;
}

label {
  width: 100%;
  text-align: left;
  font-size: 0.9em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 30px 30px;
}

table {
  margin: 10px;
  border: 2px #bdbdbd solid;
  background-color: #ffffff;
  border-collapse: collapse;
  border-radius: 10px;
}

table thead tr {
  color: #ffffff;
  background-color: #0077ff;
  border: 2px #003674 solid;
  padding: 0;
}

table thead tr th {
  border: 2px #003674 solid;
  padding: 10px;
}

table tbody tr td {
  padding: 10px;
  border: 2px #bdbdbd solid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
}

.container:hover {
  transition: 0.2s ease-in-out;
}

#login-container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  margin: 20px;
  overflow: hidden;
}

#login-cover img {
  width: 400px;
  height: 100%;
  object-fit: cover;
}

#login-logo {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

#login-container form {
  background-color: #ffffff;
  height: 635px;
  width: 400px;
}

#login-form-title {
  text-align: left;
  font-weight: bold;
  font-size: 1.8em;
  margin: 0;
}

#login-form-subtitle {
  text-align: left;
  font-weight: 100;
  font-size: 1.2em;
  padding: 0;
  margin: 0 0 30px;
}

#img-login-placeholder {
  width: 100px;
  margin: 50px 10px;
}

#register-prompt,
#login-prompt {
  font-size: 0.8em;
  font-weight: bold;
  background-color: transparent;
  color: #000;
  border: none;
  text-decoration: none;
  padding: 10px;
}

#register-prompt:hover {
  transition: 0.2s ease-in-out;
  color: #004696;
}

#btn-login,
#btn-register,
#btn-edit-profile {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}