.registerPageContainer {
  background-color: #e9e9e9;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}